<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<array>
		<string>秋元真夏</string>
		<string>生田絵梨花</string>
		<string>生駒里奈</string>
		<string>伊藤かりん</string>
		<string>伊藤純奈</string>
		<string>伊藤万理華</string>
		<string>井上小百合</string>
		<string>衛藤美彩</string>
		<string>川後陽菜</string>
		<string>川村真洋</string>
		<string>北野日奈子</string>
		<string>齋藤飛鳥</string>
		<string>斎藤ちはる</string>
		<string>斉藤優里</string>
		<string>相楽伊織</string>
		<string>桜井玲香</string>
		<string>佐々木琴子</string>
		<string>白石麻衣</string>
		<string>新内眞衣</string>
		<string>鈴木絢音</string>
		<string>高山一実</string>
		<string>寺田蘭世</string>
		<string>中田花奈</string>
		<string>中元日芽香</string>
		<string>永島聖羅</string>
		<string>西野七瀬</string>
		<string>能條愛未</string>
		<string>橋本奈々未</string>
		<string>樋口日奈</string>
		<string>深川麻衣</string>
		<string>星野みなみ</string>
		<string>堀未央奈</string>
		<string>松村沙友理</string>
		<string>山崎怜奈</string>
		<string>若月佑美</string>
		<string>渡辺みり愛</string>
		<string>和田まあや</string>
		<string>運営スタッフ</string>
	</array>
	<key>icon</key>
	<array>
		<string>IMG_0231</string>
		<string>IMG_0232</string>
		<string>IMG_0233</string>
		<string>IMG_0234</string>
		<string>IMG_0235</string>
		<string>IMG_0236</string>
		<string>IMG_0237</string>
		<string>IMG_0238</string>
		<string>IMG_0239</string>
		<string>IMG_0240</string>
		<string>IMG_0241</string>
		<string>IMG_0242</string>
		<string>IMG_0243</string>
		<string>IMG_0244</string>
		<string>IMG_0245</string>
		<string>IMG_0246</string>
		<string>IMG_0247</string>
		<string>IMG_0248</string>
		<string>IMG_0249</string>
		<string>IMG_0250</string>
		<string>IMG_0251</string>
		<string>IMG_0252</string>
		<string>IMG_0253</string>
		<string>IMG_0254</string>
		<string>IMG_0255</string>
		<string>IMG_0256</string>
		<string>IMG_0257</string>
		<string>IMG_0258</string>
		<string>IMG_0259</string>
		<string>IMG_0260</string>
		<string>IMG_0261</string>
		<string>IMG_0262</string>
		<string>IMG_0263</string>
		<string>IMG_0264</string>
		<string>IMG_0265</string>
		<string>IMG_0266</string>
		<string>IMG_0267</string>
		<string>IMG_Staff</string>
	</array>
</dict>
</plist>
