<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<array>
		<string>秋元 真夏</string>
		<string>生田 絵梨花</string>
		<string>生駒 里奈</string>
		<string>伊藤 かりん</string>
		<string>伊藤 純奈</string>
		<string>伊藤 万理華</string>
		<string>井上 小百合</string>
		<string>衛藤 美彩</string>
		<string>川後 陽菜</string>
		<string>川村 真洋</string>
		<string>北野 日奈子</string>
		<string>齋藤 飛鳥</string>
		<string>斎藤 ちはる</string>
		<string>斉藤 優里</string>
		<string>相楽 伊織</string>
		<string>桜井 玲香</string>
		<string>佐々木 琴子</string>
		<string>白石 麻衣</string>
		<string>新内 眞衣</string>
		<string>鈴木 絢音</string>
		<string>高山 一実</string>
		<string>寺田 蘭世</string>
		<string>中田 花奈</string>
		<string>中元 日芽香</string>
		<string>永島 聖羅</string>
		<string>西野 七瀬</string>
		<string>能條 愛未</string>
		<string>橋本 奈々未</string>
		<string>樋口 日奈</string>
		<string>深川 麻衣</string>
		<string>星野 みなみ</string>
		<string>堀 未央奈</string>
		<string>松村 沙友理</string>
		<string>山﨑 怜奈</string>
		<string>若月 佑美</string>
		<string>渡辺 みり愛</string>
		<string>和田 まあや</string>
		<string>乃木坂46</string>
	</array>
	<key>icon</key>
	<array>
		<string>IMG_1611</string>
		<string>IMG_1612</string>
		<string>IMG_1613</string>
		<string>IMG_1614</string>
		<string>IMG_1615</string>
		<string>IMG_1616</string>
		<string>IMG_1617</string>
		<string>IMG_1618</string>
		<string>IMG_1619</string>
		<string>IMG_1620</string>
		<string>IMG_1621</string>
		<string>IMG_1622</string>
		<string>IMG_1623</string>
		<string>IMG_1624</string>
		<string>IMG_1625</string>
		<string>IMG_1626</string>
		<string>IMG_1627</string>
		<string>IMG_1628</string>
		<string>IMG_1629</string>
		<string>IMG_1630</string>
		<string>IMG_1631</string>
		<string>IMG_1632</string>
		<string>IMG_1633</string>
		<string>IMG_1634</string>
		<string>IMG_1635</string>
		<string>IMG_1636</string>
		<string>IMG_1637</string>
		<string>IMG_1638</string>
		<string>IMG_1639</string>
		<string>IMG_1640</string>
		<string>IMG_1641</string>
		<string>IMG_1642</string>
		<string>IMG_1643</string>
		<string>IMG_1644</string>
		<string>IMG_1645</string>
		<string>IMG_1646</string>
		<string>IMG_1647</string>
		<string>IMG_Staff</string>
	</array>
	<key>id</key>
	<array>
		<string>135</string>
		<string>47</string>
		<string>45</string>
		<string>144</string>
		<string>148</string>
		<string>50</string>
		<string>51</string>
		<string>53</string>
		<string>55</string>
		<string>56</string>
		<string>145</string>
		<string>57</string>
		<string>58</string>
		<string>59</string>
		<string>149</string>
		<string>60</string>
		<string>150</string>
		<string>61</string>
		<string>146</string>
		<string>151</string>
		<string>62</string>
		<string>152</string>
		<string>63</string>
		<string>64</string>
		<string>65</string>
		<string>66</string>
		<string>67</string>
		<string>68</string>
		<string>70</string>
		<string>71</string>
		<string>72</string>
		<string>147</string>
		<string>73</string>
		<string>153</string>
		<string>76</string>
		<string>154</string>
		<string>77</string>
		<string>43</string>
	</array>
</dict>
</plist>
